body {
	background-color: #0a090a;
	color: #fff;
	font-family: 'Roboto', sans-serif;
	background-image: url('../img/main-bg.jpg');
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: top center;
}
.container {
	max-width: 1140px;
	margin: auto;
}
.header {
	padding-top: 45px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 30%;
}
.logo {
	font-size: 24px;
	font-weight: 900;
	color: #fff;
	text-decoration: none;
}
.search-input {
	border: none;
	border-radius: 5px;
	background-color: rgba(196, 196, 196, 0.5);
	padding: 12px 0 12px 18px;
	flex: 1;
	outline: none;
	color: #aeaeae;
}
::-webkit-input-placeholder { /* Edge */
	color: #aeaeae;
	font-size: 14px;
	font-weight: 400;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
	color: #aeaeae;
	font-size: 14px;
	font-weight: 400;
}
::placeholder {
	color: #aeaeae;
	font-size: 14px;
	font-weight: 400;
}
.search-button {
	background-color: transparent;
	border: none;
	padding: 10px 18px;
	outline: none;
	cursor: pointer;
}
.search {
	display: flex;
	align-items: center;
	flex: 0.8;
}
.user {
	display: flex;
	align-items: center;

}
.user-button {
	background-color: transparent;
	border: none;
	cursor: pointer;
	outline: none;
}
.avatar {
	margin-left: 20px;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	object-fit: cover;
}
.title {
	margin: 0;
	color: #fff;
	font-family: "Playfair Display", sans-serif;
	font-size: 48px;
	font-weight: 700;
	margin-bottom: 7px;
}
.title-en {
	display: inline-block;
	color: #787878;
	font-size: 20px;
	font-weight: 400;
	margin-bottom: 37px;
}
.info {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 113px;
}
.movie-info {
	display: flex;
	align-items: center;
}
.tag {
	display: inline-block;
	border-radius: 3px;
	background-color: #fff;
	color: #333333;
	font-size: 16px;
	font-weight: 400;
	padding: 5px 10px;
	margin-right: 20px;
	}
.country {
	font-size: 16px;
	font-weight: 400;
	line-height: 19px;
	margin-right: 33px;
}
.play {
	display: flex;
	align-items: center;
	text-decoration: none;
	color: #fff;
	font-size: 16px;
	font-weight: 400;
	line-height: 19px;
}
.play:before {
	content: '';
	width: 31px;
	height: 31px;
	background-image: url('../img/icons/play.svg');
	background-repeat: no-repeat;
	background-size: 100%;
	border-radius: 50%;
	margin-right: 14px;
}
.more {
	display: flex;
	align-items: center;
	text-decoration: none;
	color: #fff;
	font-size: 16px;
	font-weight: 400;
	line-height: 19px;
}
.more:after {
	content: '';
	width: 31px;
	height: 31px;
	background-image: url('../img/icons/play.svg');
	background-repeat: no-repeat;
	background-size: 100%;
	border-radius: 50%;
	margin-left: 14px;
	transform: rotate(90deg);
}
.content {
	display: flex;
	justify-content: space-between;
	border-radius: 3px;
	background-color: #fff;
	color: #000;
	padding: 3% 4%;
}
.short-info {
	margin-right: 3%;
}
.poster {
	display: block;
	margin-top: -35%;
	border: none;
}
.button {
	display: block;
	background-color: #ff8f27;
	border: none;
	font-size: 14px;
	font-weight: 400;
	color: #fff;
	padding: 10px 44px;
	cursor: pointer;
	outline: none;
	margin: 20px 0 30px 0;
}
.actors-title {
	font-size: 16px;
	font-weight: 900;
	line-height: 24px;
	padding-left: 15px;
	margin-bottom: 10px;
}
.actors-list {
	margin: 0;
	padding-left: 15px;
	list-style: none;
}
.actors-list-item {
	font-size: 16px;
	font-weight: 400;
	line-height: 170%;
	color: #000;
	text-decoration: underline;
	text-decoration-color: #000;
	transition: .2s ease-in-out;
}
.actors-list-item:hover{
	text-decoration-color: #ff8f27;
	color: #ff8f27;
}
.full-info {
	flex: 0.97;
}
.tabs {
	display: flex;
	align-items: center;
	margin-bottom: 4%;
}
.full-content {
	display: flex;
	justify-content: space-between;
}
.tabs-content {
	display: none;
	margin-right: 70px;
}
.visible {
	display: block;
}
.tabs-item {
	flex-basis: 100%;
	margin-right: 4.5%;
	color: #000000;
	font-size: 18px;
	font-weight: 400;
	line-height: 21px;
	text-decoration: none;
	transition: .2s ease-in-out;
}
.tabs-item:last-child{
	margin-right: 0;
}
.tabs-item:hover {
	color: #ff8f27;
}

.tabs-item-active {
	color: #ff8f27;
}
.text {
	margin-top: 0;
	font-style: 16px;
	line-height: 140%;
}
.subscribe-title {
	font-size: 15px;
	font-weight: 900;
	line-height: 24px;
	margin: 0 0 14px 0;
}
.subscribe-form {
	display: flex;
	margin-bottom: 48px;
}
.subscribe-input {
	width: 155px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	background-color: rgba(241, 241, 241, 0.5);
	border: none;
	color: #9b9b9b;
	font-size: 14px;
	font-weight: 400;
	padding-top: 12px;
	padding-bottom: 12px;
	padding-left: 16px;
	outline: none;
}
::-webkit-input-placeholder { /* Edge */
	color: #9b9b9b;;
	font-size: 14px;
	font-weight: 400;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
	color: #9b9b9b;;
	font-size: 14px;
	font-weight: 400;
}
::placeholder {
	color: #9b9b9b;;
	font-size: 14px;
	font-weight: 400;
}
.subscribe-button {
	background-color: #ff8f27;
	border: none;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	padding: 12px;
	outline: none;
	cursor: pointer;
}








@media (max-width: 1200px) {
	.container {
		max-width: 960px;
	}
	.tabs-item {
		font-size: 16px;
	}
}
@media (max-width: 992px) {
	.body {
		background-size: auto;
	}
	.container {
		max-width: 740px;
	}
	.tabs {
		flex-wrap: wrap;
	}
	.tabs-item {
		flex-basis: 20%;
		line-height: 2;
	}
	.full-content {
		flex-wrap: wrap;
	}
	.tabs-content {
		margin-bottom: 5%;
	}
	.text {
		font-size: 14px;
	}
	.actors-list {
		font-size: 14px;
	}
}
@media (max-width: 768px) {
	.body {
		background-size: auto;
	}
	.container {
		max-width: 540px;
	}
	.more {
		display: none;
	}
	.tabs-item {
		flex-basis: 33%;
	}
	.tabs-content {
		margin-right: 0;
	}
	
}
@media (max-width: 578px) {
	.body {
		background-size: auto;
	}
	.container {
		width: 90%;
	}
	.header {
		flex-wrap: wrap;
	}
	.search {
		flex-basis: 100%;
		order: 3;
		margin-top: 5%;
	}
	.content {
		flex-wrap: wrap;
	}
	.short-info {
		margin-bottom: 4%;
	}
	.actors-list, .actors-title {
		display: none;
	}
	.movie-info {
		flex-wrap: wrap;
	}
	.play {
		flex-basis: 100%;
		margin-top: 10%;
	}
	.short-info {
		margin-right: 0;
	}
	.button {
		width: 100%;
	}
	.poster {
		margin-top: -20%;
		display: inline-block;
		width: 100%;
	}
	.full-info {
		margin-left: 5%;
	}
}
